<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="angular.min.js"></script>
    <script>
     
    </script>
</head>
<body>
    <!--angular1 : html with new properties -->
    <div ng-app="app" ng-controller="ctrl">
            <table border="1" cellpadding="10">
                    <tr><td>Name</td><td>Email</td><td>Mobile</td></tr>
                    <tr ng-repeat="data in students">
                        <td>{{data.name}}</td>
                        <td>{{data.email}}</td>
                        <td>{{data.mobile}}</td>
                       
                    </tr>
                </table> 
                <h2>{{disp()}}</h2> 
                <table border="1" cellpadding="10">
                    <tr><td>First Name</td><td>{{student.fname}}</td></tr>
                    <tr><td>Last Name</td><td>{{student.lname}}</td></tr>
                    <tr><td>Full Name</td><td>{{student.fullname()}}</td></tr>
                    <tr><td>Subjects</td><td>Marks</td><td>Rank</td></tr>
                    <tr ng-repeat="data in student.sub"><td>{{data.name}}</td><td>{{data.marks}}</td><td>{{data.rank}}</td></tr>
                    <tr><td>Total Marks</td><td>{{student.total()}}|</td><td>{{student.rank()}}</td></tr>
                </table>

    </div>

    <script>
        var app = angular.module('app',[]);//to define our agualr application called app;
            app.controller('ctrl',function($scope){
                $scope.name = "James";
                $scope.student={
                    fname:"james",
                    lname:"patrick",
                    fullname:function(){
                      return  $scope.student.fname+" "+$scope.student.lname;
                    },
                    sub: [{"name":"maths","marks":98,"rank":3},{"name":"physcis","marks":88,"rank":4},{"name":"chemistry","marks":78,"rank":7},{"name":"schientt","marks":58,"rank":4},{"name":"english","marks":98,"rank":1}],
                    total:function(){
                        var sub = $scope.student.sub;
                        var total = 0;
                        for(i=0;i<sub.length;i++){
                            total += sub[i].marks;
                        }
                        return total;
                    },
                    rank:function(){
                        var sub = $scope.student.sub;
                        var total = 0;
                        for(i=0;i<sub.length;i++){
                            total += sub[i].rank;
                        }
                        return Math.ceil(total/sub.length);
                    }
                };

                $scope.disp = function(){
                    return "Student Details:";
                }
            })

    </script>

</body>
</html>